.cover__content {

    margin: 0;
    padding: 0 80px;
    max-width: 720px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}