.cover__title {

    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 73px;
    text-align: center;

    color: $mainTextColor;
}