.button {

    margin: $marginBlock;
    padding: 0;
    background-color: $mainPageColor;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: $transition;
    background-size: contain;

}

.button:hover {

    opacity: 0.6;

}