.article__list {

    margin: 0;
    padding: 40px 50px 41px 50px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: $borderLine;

}

@media screen and (max-width: 768px) {
    
    .article__list {

        height: auto;
        
    }

}