.button_type_burger {

    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/burger_menu.svg);
    display: none;

}

@media screen and (max-width: 768px) {

    .button_type_burger {

        display: block;

    }

}

@media screen and (max-width: 320px) {

    .button_type_burger {

        width: 20px;
        height: 20px;

    }

}