.swiper__button {

  margin: 0;
  position: relative;
  color: $mainTextColor;
  transition: $transition;
  width: 42px;
  height: 34px;

}

.swiper__button:hover {

  opacity: 0.6;

}

.swiper__button::after {

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: '';

}

@media screen and (max-width: 630px) {
  
  .swiper__button {

    width: 24px;
    height: 20px;
  
  }

}