.header__link {

    text-decoration: none;
    color: $mainTextColor;
    font-family: $fontFamilies;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: $transition;

}

.header__link:hover {

    opacity: 0.6;

}