.article__text {

    margin: 0;
    padding: 40px 50px 41px;

    box-sizing: border-box;
    
    max-width: 720px;
    width: 100%;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    color: #E1FD2C;

    // border-right: $borderLine;

}