.article__list-el {

    margin: 0;
    padding: 0 0 2px 0;

    font-family: $fontFamilies;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height, or 152% */

    color: #E1FD2C;

    list-style: none;

}

.article__list-el::before {

    content: '- ';

}